.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #166fe5;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  a {
    color: #1877f2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .login-description {
    margin-right: 20px;
    text-align: left;
  }